# Python
ai-engine/venv/
ai-engine/__pycache__/
ai-engine/.venv/
*.pyc

# Java
backend/Monitoring/target/
backend/Monitoring/.classpath
backend/Monitoring/.project
backend/Monitoring/.settings/
backend/Monitoring/bin/

# React
frontend/nomac-dashboard/node_modules/

# General
.venv/
venv/
*.log
.env